body {
    background-image: url("../images/college.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    image-resolution: 84 ;
    align-items: center;
    text-align: center;

}
.registration {
    box-sizing: content-box;
    position: fixed;
    top: 50%;
    left: 50%;
   align-items: center;
    width: 400px;
    height: 500px;
    transform: translate(-50%, -50%);
}

 ::placeholder{color: rgb(160, 27, 27);}
.form-wrap{
    width:  320px ;
     background: #3e3d3d;
      padding: 40px 20px;
       box-sizing: border-box;
        position: fixed;
         left:50%; top: 50%; 
         transform: translate(-50%, -50%);
}
         h1{text-align: center;
            color: rgb(22, 24, 24);
              font-weight: normal;
                 margin-bottom: 20px ;
                 }
